$primary-font-family: 'Montserrat';
$secondary-font-family: 'Lato', sans-serif;
$secondary-font-family-black: 'Lato', sans-serif;
$primary-font-size: 16px;
$font-size-base: 16px;



$primary: #4850a9;
$primary-second: #9397ca;
$green: #acea69;
$green-end: #76a93e;
$red: #edafab;
$red-end: #d13d2c;
$blue: #60abf7;
$blue-end: #4950a9;
$primary-text: #a0a1a0;


$primary-font-color: $primary-text;
// $primary-font-color: $primary-text;


$regular: 400;
$semibold: 600;
$heavy: 800;
$bold: 800;
$black: 900;
