$primary-font-family: 'Montserrat';
$secondary-font-family: 'Lato', sans-serif;
$secondary-font-family-black: 'Lato', sans-serif;
$primary-font-size: 16px;
$font-size-base: 16px;



$primary: #34399d;
$primary-second: #8185c2;
$green: #7deb4d;
$green-end: #499e24;
$red: #fe9d9b;
$red-end: #ec2925;
$blue: #109bf8;
$blue-end: #34399d;
$primary-text: #9a9d9f;
$bg-light : #f9fafc;


$primary-font-color: $primary-text;
// $primary-font-color: $primary-text;

$table-padding-left: 20px;
$table-padding-left-extended: 20px;

$regular: 400;
$semibold: 600;
$heavy: 800;
$bold: 800;
$black: 900;
