// Bootstrap Required
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/utilities";
// @import "bootstrap/forms";
@import "bootstrap/input-group";
@import "bootstrap/mixins/breakpoints";


// Bootstrap Optional
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images"; 
@import "bootstrap/code";
@import "bootstrap/grid";

// AmPop music Specific
@import "variables";
@import "mixins";

// Fontawersome styles
@import "fas/fontawesome";

.bg-light{
    background-color: $bg-light;
}

/**
 * Search bar section
 */ 
.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:30px;

    &__prepend{
        .input-group-text{
            color: $primary-text;
            background-color: unset;
            padding: 0;
            border: none;
            i{
                font-size: 20px;
            }
        }
    }

    &__input{
        @at-root {
            input[type='text']#{&} {
                max-width: 200px;
                font-size: 18px !important;
                padding-left:15px;
                background-color: transparent;
                &:selection{
                    background-color: transparent;
                }
            }
        }
    }

}

/**
 * Tabs section
 */ 
.ampoptabs{
    &__button{
        @include flat-button;
        width: 180px;

        &.active, &:hover{
            background-color: $primary;
        }
    }
}

/**
 * Students section
 */ 
 .students{
     background-color: white;

     &__head{
        padding: $table-padding-left;
        color: $primary;
        height: 80px;

        &--badge{
            margin-left:20px;
            background-color: $primary;
            color: white!important;
            font-weight: bold;
            height: 27px;
            padding: 5px 10px;
            font-size: 12px;
            border-radius: 5px;
            line-height: normal;
            display: inline-block;
            margin-top: 2%;
            line-height: 16px;
        }
        h1{
            width: auto;
            margin: 0px!important;
            color: $primary!important;
            font-size: 26px !important;
            font-weight: bold !important;
            line-height: normal!important;
            display: flex!important;
        }

        &--button{
            @include round-button;
            width: auto;
        }

        &--group{
            color: $primary;
            font-size: 14px;
        }

        &--prepend span{
            background-color: transparent;
            color: $primary;
            font-size: 14px;
            font-weight: bold;
            border-top: 1px solid $primary-text;
            border-left: 1px solid $primary-text;
            border-bottom: 1px solid $primary-text;
            border-right: 0px;
            padding-left:17px;
        }
        &--append span{
            @include flat-button;
            padding: 10px;
            color:white;
            background-color: $primary;
            width: 35px;
            text-align: center;
            display: block;
            line-height: 18px;
            &:hover{
                border: 0px;
            }
            i{
                font-size: 12px;
                line-height: 18px;
                margin: 0;
            }
        }
        &--input{
            font-family: $primary-font-family;
            background-color: transparent;
            border: 0px;
            color: $primary-text;
            font-size: 14px;
            font-weight: bold;
            width: 100px;
            padding: 5px 0px;
            border-top: 1px solid $primary-text;
            border-bottom: 1px solid $primary-text;
        }

        &--hr{
            width: calc(100% - 40px);
            border: 1px solid #f1f2ee;
            box-shadow: 0 5px 10px rgba(241,242,238,1); /* Параметры тени */
            margin-left:20px !important;
        }

     }

     /**
      * TABLE sections
      */
    &__table{
        width: 100%;

        &--header{
            display: grid;
            grid-template-areas: "header__student header__points header__percent header__date header__login header__time header__laststep header__lastlogin header__contact";
            grid-template-columns: 140px 140px 1fr 140px 160px 160px 240px 240px 140px; 
            margin: 0;

            

            &>div{
                padding:  15px $table-padding-left;

                &.active span{
                    display:inline-block;
                }
                span{
                    display: none;
                    margin-left:5px;
                }
            }

            
        }

        &--row{
            &.active{

                .students__table--rowshort{
                    background-color: $primary;
                    color: white;
                }

                .students__table--rowextra{
                    height: auto;
                }

            }
        }
        
        &--rowshort{
            display: grid;
            grid-template-areas: "row__student row__points row__percent row__date row__login row__time row__laststep row__lastlogin row__contact";
            grid-template-columns: 140px 140px 1fr 140px 160px 160px 240px 240px 140px; 
            margin: 0;

            .row{
                &__student, 
                &__points,
                &__percent,
                &__date,
                &__login,
                &__time,
                &__laststep,
                &__lastlogin,
                &__contact {
                    padding: 15px $table-padding-left;
                    font-size: 12px;
                    display: flex;
                    align-content: center;
                    justify-content: start;
                    align-items: center;
                    justify-items: center;
                }
                &__student{
                    &--avatar{
                        border-radius: 50%;
                        text-align: center;
                        overflow: hidden;
                        margin-right:10px;
                    }
                }

                &__contact{
                    .row__button{
                        @include flat-button;
                        padding: 10px;
                        background-color: white;
                        color: $primary;
                    }
                }
            }
        }
        
        &--rowextra{
            overflow: hidden;
            height: 0px;
            transition: height 0.3s ease;
        }

    }
 }

 .header{
     &__points{
         color: $primary-text;
     }
 }